%h1= @scrap.title
%p= @scrap.description

=link_to "Home", root_path 
=link_to "Edit", edit_scrap_path(@scrap)
=link_to "Delete", scrap_path, method: :delete, data: {confirm: "You can't fix this. Are you sure you want to delete this Scrap?"} 
